@import 'variables';

/* ====================== Navigation ====================== */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  width: 100%;
  height: $header-height;
  background-color: #252831;
  text-align:center;
}

nav h1 {
  margin: auto;
  line-height: $header-height;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

/* ====================== Map ====================== */
#map-container {
  &.map-collapsed {
    height: 0;
    transition: height 0.3s;
  }

  &.map-expanded {
    height: 400px;
    transition: height 0.3s;
  }
}

#map {
  height: 100%;
  width: 100%;
  background-color: #ccc;
}

.map-btn {
  color: #fff;
  background-color: #0275d8;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #3397DB;
  }
}

.hidden {
  display: none;
}

body,td,th,p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position:relative;
}

.skip-link {
  position: absolute;
  top: -150px;
  left: 0;
  background: #bf1722;
  color: white;
  padding: 8px;
  z-index: 100;
}

ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}

a img{
  border: none 0px #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

#maincontent {
  background-color: #f3f3f3;
  height: 100%;
  margin: $header-height 0 0 0;
}

#footer {
  background-color: #444;
  color: #fff;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px 0;
  text-align: center;
  text-transform: uppercase;
  clear: both;
}

.favorite-icon::after {
  content: "\2605";
}

.not-favorite-icon:after {
  content: "\2606";
}

.favorite-icon, .not-favorite-icon {
  position: absolute;
  color: #ffc107;
  font-size: 35px;
  line-height: 1;
  cursor: pointer;
}

#request-saved-message {
  position: fixed;
  left: 10px;
  bottom: 10px;
  background: #ccffcc;
  color: #008000;
  border: 1px solid #008000;
  padding: 5px;

  &.hide {
    opacity: 0;
    transition: opacity .5s;
  }

  &.show {
    opacity: 1;
    transition: opacity .5s;
  }
}