@import 'variables';
@import 'common';

$content-indent: 30px;
$page-border-radius: 25px;

$medium-screen-media: 'screen and (min-width: 500px)';

$big-screen-media: 'screen and (min-width: 800px)';
$big-screen-content-width: 50%;
$big-screen-map-width: 100% - 50%;
$big-screen-content-indent: 10px;

/* ====================== Restaurant Details ====================== */
.inside {

  #maincontent {
    background: #fff;
  }

  .skip-link:focus {
    top: 50px;
  }

  /* ====================== Breadcrumb ====================== */
  #breadcrumb {
    list-style: none;
    background-color: #eee;
    font-size: 20px;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;

    @media #{$big-screen-media} {
      &.breadcrumb-expanded {
        width: 100%;
      }

      &.breadcrumb-shrunk {
        width: $big-screen-content-width;
      }
    }

    /* Display list items side by side */
    li {
      display: inline-block;
      font-size: 15px;
      padding: 10px 0 16px 0;

      &:first-child {
        padding-left: $content-indent;

        @media #{$big-screen-media} {
          padding-left: $big-screen-content-indent;
        }
      }

      /* Add a color to all links inside the list */
      a {
        color: #0275d8;
        text-decoration: none;

      }

      /* Add a color on mouse-over */
      a:hover {
        color: #01447e;
        text-decoration: underline;
      }
    }

    /* Add a slash symbol (/) before/behind each list item */
    li + li:before {
      padding: 8px;
      color: black;
      content: "/\00a0";
    }
  }

  .expand-symbol:after {
    content: "\02C5";

    @media #{$big-screen-media} {
      content: "\02C2";
    }
  }

  .collapse-symbol:after {
    content: "\02C4";

    @media #{$big-screen-media} {
      content: "\02C3";
    }
  }

  #map-container {
    background: darkgray none repeat scroll 0 0;
    width: 100%;
    padding: 0;
    margin: 128px 0 0 0;

    &.map-collapsed {
      height: 0;
      transition: height 0.3s;
    }

    &.map-expanded {
      height: 400px;
      transition: height 0.3s;
    }

    @media #{$big-screen-media} {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      width: 0;

      &.map-collapsed {
        height: unset;
        width: 0;
        transition: width 0.3s;
      }

      &.map-expanded {
        height: unset;
        width: $big-screen-map-width;
        transition: width 0.3s;
      }

      height: unset;
      margin: 0;
    }

    #map {
      background-color: #ccc;
      height: 100%;
      width: 100%;
    }
  }

  .map-btn {
    @media #{$big-screen-media} {
      position: fixed;
      z-index: 1000;
      bottom: 0;
      right: 0;
    }
  }

  .main-content {
    background: #fff;

    @media #{$big-screen-media} {
      &.content-expanded {
        width: 100%;
      }

      &.content-shrunk {
        width: $big-screen-content-width;
      }
    }
  }

  #restaurant-container, #reviews-container {
    padding: 0;
    margin: 0;
    @media #{$big-screen-media} {
      //float: left;
      clear: left;
    }
  }

  #restaurant-container {
    @media #{$big-screen-media} {
      margin: 150px 0 0 0;
    }

    .restaurant-content-container {
      padding: 0 $content-indent;

      @media #{$big-screen-media} {
        padding: 0 $big-screen-content-indent;
      }

      #restaurant-name {
        color: #f18200;
        font-family: Arial, sans-serif;
        font-size: 25px;
        font-weight: 200;
        letter-spacing: 0;
        margin: 30px 0 25px 0;
        text-transform: uppercase;
        line-height: 1.1;
      }

      #restaurant-img {
        width: 100%;
        border-radius: $page-border-radius 0 $page-border-radius 0;
      }

      #restaurant-cuisine {
        background-color: #333;
        color: #ddd;
        font-size: 12pt;
        font-weight: 300;
        letter-spacing: 10px;
        margin: 0 0 20px;
        padding: 2px 0;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
      }

      #restaurant-address {
        font-size: 12pt;
        margin: 10px 0px;
      }

      #restaurant-hours td {
        color: #666;
      }
    }
  }

  #reviews-container {
    .reviews-content-container {
      padding: 0 $content-indent;

      @media #{$big-screen-media} {
        padding: 0 $big-screen-content-indent;
      }

      h2 {
        color: #f58500;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: -1px;
        margin: 20px 0 10px 0;
      }

      #reviews-list {
        margin: 0;
        padding: 0;

        li {
          background-color: #fff;
          display: block;
          list-style-type: none;
          margin: 0 0 25px;
          overflow: hidden;
          position: relative;
          border-radius: $page-border-radius 0 $page-border-radius 0;
          box-shadow: $main-box-shadow;

          $review-horizontal-indent: 20px;

          .review-header {
            padding: 0 $review-horizontal-indent;
            background: #333;
            overflow: hidden;

            $header-line-height: 50px;
            .reviewer-name {
              color: #fff;
              float: left;
              font-size: 20px;
              line-height: $header-line-height;
            }

            .review-date {
              color: #aaa;
              float: right;
              line-height: $header-line-height;
            }
          }

          .review-rating {
            margin: 10px $review-horizontal-indent;
            background: orange;
            color: #fff;
            display: inline-block;
            padding: 5px 10px;
            border-radius: 3px;
            text-transform: uppercase;
            font-weight: bold;
          }

          .comments {
            margin: 0 $review-horizontal-indent 20px $review-horizontal-indent;
            color: #666;
          }
        }
      }
    }
  }

  #review-form {
    .review-form-content-container {
      padding: 0 $content-indent;
      margin: 10px 0;

      @media #{$big-screen-media} {
        padding: 0 $big-screen-content-indent;
      }

      h2 {
        color: #fff;
        background: #333;
        font-size: 20px;
        font-weight: 300;
        padding: 0 0 0 20px;
        line-height: 40px;
        margin: 0;
      }

      .form-content {
        padding: 0;
        margin: 0;
        box-shadow: $main-box-shadow;

        #error-message {
          background: #ffcccc;
          color: #800000;
          padding: 10px
        }

        #success-message {
          background: #ccffcc;
          color: #008000;
          padding: 10px;
        }

        .hidden {
          display: none;
        }

        .input-row {
          padding: 10px 20px 0 20px;

          label, select, input, textarea {
            display: block;
            width: 100%;
          }

          select, input, textarea {
            padding: 5px 0 5px 0;
          }

          input:invalid, select:invalid, textarea:invalid {
            background-color: #ffdddd;
          }

          input:required, select:required, textarea:required {
            border: 1px solid #333;
          }

          @media #{$medium-screen-media} {
            label {
              width: 6em;
              display: inline-block;
              vertical-align: top;
            }

            select, input, textarea {
              width: 23em;
              display: inline-block;
            }
          }
        }

        #submit-review-btn {
          margin: 5px 0 10px 20px;
          background: #5cb85c;
          border: none;
          color: #fff;
          font-size: 14px;
          padding: 10px;
          border-radius: 4px;
          cursor: pointer;

          &:active {
            color: #fff;
            background: #000;
          }
        }
      }
    }
  }
}

#footer {
  @media #{$big-screen-media} {
    &.footer-expanded {
      width: 100%;
    }

    &.footer-shrunk {
      width: 50%;
    }
  }
}