@import 'variables';
@import 'common';

$content-indent: 30px;
$page-border-radius: 25px;

$big-screen-media: 'screen and (min-width: 800px)';
$big-screen-content-width: 50%;
$big-screen-map-width: 100% - 50%;
$big-screen-content-indent: 10px;

/* ====================== Restaurant Details ====================== */
.inside {

  /* ====================== Breadcrumb ====================== */
  #breadcrumb {
    list-style: none;
    background-color: #eee;
    font-size: 20px;
    padding: 0;
    margin: 0;
    width: 100%;

    @media #{$big-screen-media} {
      width: $big-screen-content-width;
    }

    /* Display list items side by side */
    li {
      display: inline-block;
      font-size: 15px;
      padding: 10px 0 16px 0;

      &:first-child {
        padding-left: $content-indent;

        @media #{$big-screen-media} {
          padding-left: $big-screen-content-indent;
        }
      }

      /* Add a color to all links inside the list */
      a {
        color: #0275d8;
        text-decoration: none;

      }

      /* Add a color on mouse-over */
      a:hover {
        color: #01447e;
        text-decoration: underline;
      }
    }

    /* Add a slash symbol (/) before/behind each list item */
    li+li:before {
      padding: 8px;
      color: black;
      content: "/\00a0";
    }
  }

  #map-container {
    background: blue none repeat scroll 0 0;
    height: 400px;
    width: 100%;
    padding: 0;
    margin: 128px 0 0 0;

    @media #{$big-screen-media} {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      width: $big-screen-map-width;
      height: unset;
      margin: 0;
    }

    #map {
      background-color: #ccc;
      height: 100%;
      width: 100%;
    }
  }

  #restaurant-container, #reviews-container {
    padding: 0;
    margin: 0;
    @media #{$big-screen-media} {
      width: $big-screen-content-width;
      float: left;
      clear: left;
    }
  }

  #restaurant-container {

    @media #{$big-screen-media} {
      margin: 40px 0 0 0;
    }

    .restaurant-content-container {
      padding: 0 $content-indent;

      @media #{$big-screen-media} {
        padding: 0 $big-screen-content-indent;
      }

      #restaurant-name {
        color: #f18200;
        font-family: Arial,sans-serif;
        font-size: 25px;
        font-weight: 200;
        letter-spacing: 0;
        margin: 30px 0 25px 0;
        text-transform: uppercase;
        line-height: 1.1;
      }

      #restaurant-img {
        width: 100%;
        border-radius: $page-border-radius 0 $page-border-radius 0;
      }

      #restaurant-cuisine {
        background-color: #333;
        color: #ddd;
        font-size: 12pt;
        font-weight: 300;
        letter-spacing: 10px;
        margin: 0 0 20px;
        padding: 2px 0;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
      }

      #restaurant-address {
        font-size: 12pt;
        margin: 10px 0px;
      }

      #restaurant-hours td {
        color: #666;
      }
    }
  }

  #reviews-container {
    .reviews-content-container {
      padding: 0 $content-indent;

      @media #{$big-screen-media} {
        padding: 0 $big-screen-content-indent;
      }

      h2 {
        color: #f58500;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: -1px;
        margin: 20px 0 10px 0;
      }

      #reviews-list {
        margin: 0;
        padding: 0;

        li {
          background-color: #fff;
          display: block;
          list-style-type: none;
          margin: 0 0 25px;
          overflow: hidden;
          position: relative;
          border-radius: $page-border-radius 0 $page-border-radius 0;
          box-shadow: $main-box-shadow;

          $review-horizontal-indent: 20px;

          .review-header {
            padding: 0 $review-horizontal-indent;
            background: #333;
            overflow: hidden;

            $header-line-height: 50px;
            .reviewer-name {
              color: #fff;
              float: left;
              font-size: 20px;
              line-height: $header-line-height;
            }

            .review-date {
              color: #aaa;
              float: right;
              line-height: $header-line-height;
            }
          }

          .review-rating {
            margin: 10px $review-horizontal-indent;
            background: orange;
            color: #fff;
            display: inline-block;
            padding: 5px 10px;
            border-radius: 3px;
            text-transform: uppercase;
            font-weight: bold;
          }

          .comments {
            margin: 0 $review-horizontal-indent 20px $review-horizontal-indent;
            color: #666;
          }
        }
      }
    }
  }
}

#footer {
  @media #{$big-screen-media} {
    width: 50%;
  }
}